.banner {
  background: #333;
  color: white;
  text-align: center;
  padding: 0.5em 0;
  a {
    cursor: pointer;
    color: rgba(255,255,255,.4) !important;    
  }
}

.navbar {
  transition: .5s ease-in-out;
  padding: 0;
  font-size: 1.5em;
  color: gray;
  // text-shadow: 0 0 0.01em black;
  margin: 0;
  z-index: 5;
  div {
    .navbar-header {
      .navbar-brand {
        color: inherit;
        float: left;
        padding: .4em 1em;
        line-height: 2em;
        transition: .3s ease-in-out;
        i {
          color: inherit;
          font-size: 2em;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .navbar-main-collapse {
      .navbar-nav {
        li {
          color: inherit;
          cursor: pointer;
          .dropdown-menu {
            padding: 1em 0 !important;
          }
          a {
            color: inherit;
            transition: .3s ease-in-out;
          }
        }
        .pages {
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}

.navbar-transparent {
  background-color: transparent;
  border-color: transparent;
  padding: 1em;
}

.search-bar {
  color: inherit;
  padding-left: 1em;
  input {
    margin-top: .4em;
    margin-left: -1.5em;
    padding-left: 2em;
    padding-right: 1em;
    width: 0;
    background: transparent;
    border: none;
    border-bottom: transparent .01em solid;
    color: inherit;
    transition: .3s ease-in-out;
  }
  input.selected {
    outline: none;
    width: 15em;
    border-bottom: rgba(0, 0, 0, .1) .01em solid;
  }
  i {
    font-size: 1.2em;
  }
  .search-results {
    margin-left: 2.5em;
    position: absolute;
    font-size: .6em;
    padding-top: 1em;
    // background: rgba(236, 234, 234, 0.85);
    padding: .5em;
    width: 20em;
    li {
      border-bottom: .1em solid rgba(0, 0, 0, .1);
      padding-top: .01em;
      padding-bottom: .5em;
      text-align: center;
      .result-name {
        transition: .3s ease-in-out;
        font-size: 1.5em;
      }
      &:hover .result-name {
        letter-spacing: .1em;
      }
    }
    li:nth-child(odd) {
      background: rgba(236, 234, 234, 0.85);
    }
    li:nth-child(even) {
      background: rgba(236, 234, 234, .9);
    }
  }
}

@media (max-width: 768px) {
  .search-bar {
    display: none !important;
  }
}
