<div [@usersListState]="usersListState" class="users-container">
  <div class="users-header">
    <h1>Users</h1>
    <h4>Currently we have {{ pageinateOptions.totalResults }} users!</h4>
  </div>
  <ul class="users-list">
    <li *ngFor="let user of users; let i = index" class="user" [@userState]="userState">
      <div class="user-container">
        <div class="user-img"></div>
        <div class="user-details">
          <h1>{{ user.profile.name | capitalizeWord }}</h1>
          <h6>{{ user.id }}</h6>
          <h4 class="index">{{ i+1 }}/{{ pageinateOptions.totalResults }}</h4>
          <div>Goals</div>
          <div *ngFor="let goal of user.goals">
            {{ goal }}
          </div>
          <br>
          <div>{{ user.profile.location }}</div>
          <div>Joined {{ user.profile.joined | date: longDate }}!</div>
        </div>
      </div>
    </li>
  </ul>
</div>
