.users-container {
  margin-top: 5em;
  .users-header {
    text-align: center;
  }
  .users-list {
    width: 100%;
    margin-top: 5em !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    position: absolute;
    .user {
      // box-shadow: 0 0 0.5em black;
      background: grey;
      margin: 0.5em;
      align-self: stretch;
      overflow: hidden;
      text-align: center;
      transition: .3s ease-in-out;
      position: relative;
      width: 100%;
      max-width: 35em;
      // height: 30em;
      flex-grow: 1;
      border-radius: .2em;
      // &:nth-child(even) {
      //     height: 25em;
      // }
      cursor: pointer;
      .user-img {
        width: 10em;
        height: 10em;
        margin: auto;
        // box-shadow: 0 0 0.5em black;
        background: url(http://i.imgur.com/VuATFjyh.jpg);
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        transition: transform .3s ease-in-out;
        border-radius: 5em;
      }
      .user-container {
        // position: absolute;
        margin: 5em auto;
        .index {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 .5em;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .user {
    border-radius: 0 !important;
    margin: 0 !important;
  }
}
