.goals-container {
  margin-top: 5em;
  .goals-header {
    text-align: center;
  }
  .goals-list {
    margin-top: 5em !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    position: absolute;
    .goal:nth-child(3n-2) {
      background: url("http://i.imgur.com/m6SQFJQh.jpg");
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      transition: transform .3s ease-in-out;
      color: white;
      text-shadow: 0 0 0.01em black;
      border: none;
    }
    .goal {
      border: 1px solid rgba(0, 0, 0, .1);
      margin: 0.5em;
      align-self: stretch;
      overflow: hidden;
      text-align: center;
      transition: .3s ease-in-out;
      position: relative;
      width: 100%;
      max-width: 35em;
      // height: 30em;
      flex-grow: 1;
      border-radius: .2em;
      // &:nth-child(even) {
      //     height: 25em;
      // }      
      .goal-btn {
        font-size: 3em;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0 0.3em;
        color: inherit;
        transition: .3s ease-in-out;
        .add-goal-btn {
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .goal-container {
        // position: absolute;
        margin: 5em auto;
        .index {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 .5em;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .goal {
    border-radius: 0 !important;
    margin: 0 !important;
  }
}
