@import url('https://fonts.googleapis.com/css?family=Oswald');
html,body {
  font-family: 'Oswald', sans-serif;
}

h1,h2,h3,h4,h5 {
  letter-spacing: 0.05em;
}

#page-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.blink {
  animation: blinking 1s infinite;
}

.blink .one {
  animation: grow .3s ease-in-out 1s infinite alternate;
}

.blink .two {
  animation: grow .3s ease-in-out .5s infinite alternate;
}

.blink .three {
  animation: grow .3s ease-in-out 0s infinite alternate;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

ul {
    list-style-type: none;    
}

li, a {    
    text-decoration: none;
    outline: none;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}
.depth {
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 -6px 0 -3px #fff, 0 -7px 1px -3px rgba(0,0,0,0.3), 0 -12px 0 -6px #fff, 0 -13px 1px -6px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.3);
}