<div [@newGoalState]="newGoalState" class="jumbotron newGoal-container">
  <div class="newGoal-header">
    <h1>New Goal</h1>
  </div>
  <div class="newGoal-body">
    <form (ngSubmit)="submitForm(newGoalForm.value)">
      <div class="form-group">
        <label>Image:</label>
        <input type="file" placeholder="Image" [formControl]="newGoalForm.controls['img']">
      </div>
      <div class="form-group">
        <label>Name:</label>
        <input class="form-control" type="text" placeholder="Name" [formControl]="newGoalForm.controls['name']">
      </div>
      <div class="form-group">
        <label>Description:</label>
        <input class="form-control" type="text" placeholder="Description" [formControl]="newGoalForm.controls['description']">
      </div>
      <div class="form-group">
        <label>Category:</label>
        <input class="form-control" type="text" placeholder="Category" [formControl]="newGoalForm.controls['category']">
      </div>
      <div class="form-group">
        <label>Hashtags (Comma-Delimited):</label>
        <input class="form-control" type="text" placeholder="Hashtags" [formControl]="newGoalForm.controls['hashtags']">
      </div>
      <div class="form-group">
        <label>Location:</label>
        <input class="form-control" type="text" placeholder="Location" [formControl]="newGoalForm.controls['location']">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default" [disabled]="!newGoalForm.valid || isCreatingGoal">Submit</button>
      </div>
      <div *ngFor="let error of newGoalErrors" class="alert alert-danger">{{ error }}</div>
    </form>
  </div>
</div>
