<div [@userProfileState]="userProfileState" class="user-profile-container">
  <div class="user-profile-header">
    <div class="profile-details">
      <h1>{{ currentUser.profile.name | capitalizeWord }}</h1>
      <h2>{{ currentUser.profile.location }}</h2>
      <h3>{{ currentUser.email }}</h3>
      <h4>Joined on {{ currentUser.profile.joined | date: longDate }}</h4>
    </div>
  </div>
  <div class="user-goals">
    <div class="user-goals-header">
      <h2>You have {{ currentUser.goals.length ? currentUser.goals.length : 'no'}} item(s) on your List</h2>
    </div>
    <ul class="user-goals-list">      
      <li *ngFor="let goal of userGoals; let i = index" class="user-goal">
        <div class="goal-container">
          <h1>{{ goal.name }}</h1>
          <h6>{{ goal.id }}</h6>
          <h4 class="index">{{ i+1 }}/{{ pageinateOptions.totalResults }}</h4>
          <p>{{ goal.description }}</p>
          <div>{{ goal.location }}</div>
          <div *ngIf="goal.completed.status"> Completed on {{ goal.completed.date | date: longDate }}!</div>
        </div>
      </li>
    </ul>
  </div>
</div>
